<?xml version = "1.0" encoding = "UTF-8" ?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="movie" class="com.stackroute.springapplication.beans.Movie">

        <property name="actor">
            <ref bean="actor"></ref>
        </property>


    </bean>


    <bean id="actor" class="com.stackroute.springapplication.beans.Actor">
        <property name="actorName" value="yash"/>
        <property name="gender" value="male"/>
        <property name="age" value="40"/>

    </bean>

</beans>